@import 'tailwindcss';


@theme{

    --color-primary-orange: #FF9900;
    --color-dark-gray: #1a1a1a; 
    --color-off-white: #F5F5F5;      
    --color-light-gray: #333333;     
  
}

body {
  @apply bg-dark-gray text-off-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

